.protected{
	position:relative;
	margin: 15px 0 0 15px;
	float:left;
	background-color: lightgray;
	width:200px;
	height:200px;
	cursor:pointer;
}
.protected .normal{
	width:100%;
	height:100%;
	float:left;
	z-index: 1;
	display:none;
}
.protected .dumb{
	width:100%;
	height:100%;
	float:left;
	z-index: 1;
	display:block;
}
.protected .overlay{
	width:100%;
	height:100%;
	float:left;
	z-index:2;
	position: absolute;
	display:none;
}